<app-header></app-header>
<br><br><br><br><br>
<section class="main-section">
<div class="container-fluid main-container">
    <form #f="ngForm" (submit)="saveChangePassword(f)">
      <h2 style="text-align: center; margin-top: 5px;" >Change Password</h2>
      <div class="form-group">
        <div class="row" style="margin-top: 10px;">
          <div class="col-xs-12 col-md-12 col-lg-12 vcenter">
                 <label>Current Password:</label><span class="text-danger">*</span>
                 <input #current_password="ngModel" ngModel type="password" name="current_password" class="form-control" required >
                 <div class="text-danger" *ngIf="f.submitted && current_password.invalid">
                    <span *ngIf="current_password.errors.required">* Required</span>
                </div>
              </div>
              <div class="col-xs-12 col-md-12 col-lg-12 vcenter">
                 <label>New Password:</label><span class="text-danger">*</span>
                     <input #new_password="ngModel" ngModel type="password" name="new_password" class="form-control" required>
                     <div class="text-danger" *ngIf="f.submitted && new_password.invalid">
                        <span *ngIf="new_password.errors.required">Date Required</span>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 vcenter">
                    <label>Confirm Password:</label><span class="text-danger">*</span>
                        <input #confirm_password="ngModel" ngModel type="password" name="confirm_password" class="form-control" required>
                        <div class="text-danger" *ngIf="f.submitted && confirm_password.invalid">
                           <span *ngIf="confirm_password.errors.required">Date Required</span>
                       </div>
                   </div>
         </div>
  
            <div class="row" style="margin-top: 10px;">
              <div class="col-sm-12 text-center">
                <button class="btn btn-primary" style="background-color:#086d92; margin-right: 5px;">Save</button>
                <button type="button" name="button" class="btn-medium btn btn-secondary">CANCEL</button>
              </div>
            </div>
    </div>
</form>
</div>
</section>