<app-header></app-header>
<section class="home-section">
  <div class="row mb-20 margin-0">
    <div class="col-sm-12 rounded-border">
      <br/>
      <h2 style="text-align: center;margin-top:10px">Change Password</h2>
      <br/>
      <form [formGroup]="changePasswordForm" (ngSubmit)="saveChangePassword(changePasswordForm)">
        <div class="form-group row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
           <label>Current Password:</label><span class="text-danger">*</span>
           <input formControlName="current" type="password" name="current" class="form-control" required placeholder="current password">
           <div class="text-danger" *ngIf="isSubmit && changePasswordForm.controls.current.errors?.required">
             <span>Current password is required</span>
           </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
             <label>New Password:</label><span class="text-danger">*</span>
             <input formControlName="password" type="password" name="password" class="form-control" required placeholder="new password">
             <div class="text-danger" *ngIf="isSubmit && changePasswordForm.controls.password.errors?.required">
               <span>New password is required</span>
             </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <label>Re-enter new Password:</label><span class="text-danger">*</span>
            <input formControlName="confirm_password" type="password" name="confirm_password" compare-to="password" class="form-control" required placeholder="confirm password">
            <div class="text-danger" *ngIf="isSubmit && changePasswordForm.controls.confirm_password.errors?.required">
              <span>Current password is required</span>
            </div>
            <div class="text-danger" *ngIf="isSubmit && changePasswordForm.controls.confirm_password.errors?.mustMatch">
              <span>Passwords must match</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 text-center">
            <button class="btn btn-primary" style="background-color:#086d92; margin-right: 5px;">Save</button>
            <button type="button" name="button" class="btn-medium btn btn-secondary" routerLink="/daily-work">CANCEL</button>
          </div>
        </div>
        <br/>
      </form>
    </div>
  </div>
</section>
<app-alert-messages></app-alert-messages>
