.daily-work-textarea{
  display: inline-block;
  width: 90%;
}
.daily-work-trash{
  font-size: 24px;
  color: #dc3545;
  cursor: pointer;
}
.daily-work-plus{
  font-size: 30px;
  color: #086D92;
  cursor: pointer;
}

