<app-header></app-header>
<section class="home-section daily-work-div">
    <div class="row mb-20 margin-0" id="daily-work-div" *ngIf="dailyWorkAdd">
        <div class="col-sm-12 rounded-border">
            <br/>
            <h2 style="text-align: center;margin-top:10px">Add/Update Daily Work</h2>
            <br/>
            <form [formGroup]="dailyWorkForm" (ngSubmit)="saveDailyWorkDetail(dailyWorkForm)">
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label for="date">Date</label>
                        <input type="date" name="date" formControlName="date" class="form-control" required>
                        <div class="text-danger" *ngIf="isSubmit && dailyWorkForm.controls.date.errors?.required">
                            <span>Date Required</span>
                        </div>
                    </div>
                    <div class="col-sm-8" style="padding-top:24px;">
                        <i class="fa fa-plus-square pull-right daily-work-plus" (click)="addDailyWorkDetail()"></i>
                        <!-- <button class="pull-right btn btn-medium btn-primary block-btn" type="button" style="background-color: #086d92;" (click)="addDailyWorkDetail()">Add</button> -->
                    </div>
                </div>

                <div formArrayName="workArray" *ngFor="let a of dailyWorkForm.get('workArray')['controls']; let i = index">
                    <div [formGroupName]="i" class="form-group row">
                        <input type="hidden" formControlName="row_id" />
                        <div class="col-sm-2">
                            <label for="date">Start Time</label>
                            <input type="time" name="start_time" class="form-control" formControlName="start_time" (change)="startTimeChanged(i)">
                        </div>
                        <div class="col-sm-2">
                            <label for="date">End Time</label>
                            <input type="time" name="end_time" class="form-control" formControlName="end_time" min="" id="{{ 'work_end_time_'+i}}">
                        </div>
                        <div class="col-sm-3">
                            <label for="date">Module Name</label>
                            <input type="text" name="module" class="form-control" formControlName="module" required>
                            <div class="text-danger" *ngIf="isSubmit && dailyWorkForm.get('workArray')['controls'][i].controls['module'].errors && dailyWorkForm.get('workArray')['controls'][i].controls['module'].errors.required">
                                <span>Module Name Required</span>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <label for="date">Description</label>
                            <textarea name="description" formControlName="description" class="form-control daily-work-textarea" required></textarea>
                            <i class="fa fa-trash pull-right daily-work-trash" *ngIf="i!=0" (click)="removeDailyWorkDetail(i)"></i>
                            <div class="text-danger" *ngIf="isSubmit && dailyWorkForm.get('workArray')['controls'][i].controls['description'].errors && dailyWorkForm.get('workArray')['controls'][i].controls['description'].errors.required">
                                <span>Description Required</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-medium btn-success text-center" style="background-color: #086d92; margin-right: 2px;">Save</button>
                        <button type="button" name="button" class="btn-small btn btn-secondary text-center" (click)="cancelDailyWorkDetail()">CANCEL</button>
                    </div>
                </div>
            </form>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-6">
            <!-- <div class="form-group">
        <div class="form-check-inline">
          <label class="form-check-label">
          <input type="radio" class="form-check-input" [value]="1" [(ngModel)]="monthlyRadio" name="monthlyRadio" (change)="onItemChange()">Monthly
          </label>
       </div>
        <div class="form-check-inline">
          <label class="form-check-label">
          <input type="radio" class="form-check-input" [value]="0" [(ngModel)]="monthlyRadio" name="monthlyRadio" (change)="onItemChange()">Daily
          </label>
        </div>
    </div> -->
        </div>

        <div class="col-sm-6">
            <!-- <button class="pull-right btn btn-medium btn-danger" role="button" (click)="openDeleteWorkModal()">DELETE</button> -->
            <button class="pull-right btn btn-primary block-btn mr-6" tabindex="0" (click)="addUpdateDailyWorkData()">ADD WORK DATA</button>
            <button class="pull-right btn btn-primary block-btn mr-6" tabindex="0" (click)="openExportReportModal()">Export Report</button>
            <!-- <div class="form-group pull-right" style="padding-right: 5px;" *ngIf="monthlyRadio">
      <label class="d-inline-block mr-10">Select Month:</label>
      <select class="form-control d-inline-block" (change)="selectMonthChange(selectMonth)" style="width:auto;min-width:200px;">
        <option *ngFor="let obj of monthList" [value]="obj.date" [selected]="obj.date">{{obj.name}}</option>
      </select>
    </div>
    <div class="form-group pull-right" style="padding-right: 5px;" *ngIf="!monthlyRadio">
      <label class="d-inline-block mr-10">Select Date:</label>
      <input type="date" [(ngModel)]="daily_date" name="daily_date" class="form-control" (change)="selectMonthChange(daily_date)" required style="width: auto;display: inline-block;">
    </div> -->
        </div>
    </div>


    <div style="height: 100%; box-sizing: border-box; width: 100%;">
        <!-- <ag-grid-angular
      #agGrid
      style="width: 100%; height: 500px;"
      id="myGrid"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [defaultColGroupDef]="defaultColGroupDef"
      [columnTypes]="columnTypes"
      [rowData]="dailyWork_data"
      rowSelection='multiple'
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular> -->
    </div>

    <div id="deleteWorkDataModal" class="modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Work Data?</h4>
                    <button type="button" class="close" data-dismiss="modal">X</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Are you sure you want to delete these work data?</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-medium" (click)="deleteWorkData()">DELETE</button>
                    <button type="button" class="btn btn-secondary btn-medium" data-dismiss="modal">CANCEL</button>
                </div>
            </div>
        </div>
    </div>

    <div id="exportReportModal" class="modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Export Report</h4>
                    <button type="button" class="close" data-dismiss="modal">X</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group" style="padding-right: 5px;display:inline-block;">
                                <label class="d-inline-block mr-10">From Date:</label>
                                <input type="date" [(ngModel)]="reportStartDate" name="reportStartDate" class="form-control" (change)="fromAndToDateChange(reportStartDate,true)" required style="width: auto;display: inline-block;">
                                <div class="text-danger" *ngIf="!reportStartDate && isReportSubmitted">
                                    <span>Start date required</span>
                                </div>
                            </div>
                            <div class="form-group" style="padding-right: 5px;display:inline-block;">
                                <label class="d-inline-block mr-10">To Date:</label>
                                <input type="date" [(ngModel)]="reportEndDate" name="reportEndDate" class="form-control" (change)="fromAndToDateChange(reportEndDate,false)" required style="width: auto;display: inline-block;" min="{{maxDate|date:'yyyy-MM-dd'}}">
                                <div class="text-danger" *ngIf="!reportEndDate && isReportSubmitted">
                                    <span>End date required</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-medium" (click)="exportEmployeeReport()">SAVE</button>
                    <button type="button" class="btn btn-secondary btn-medium" data-dismiss="modal">CANCEL</button>
                </div>
            </div>
        </div>
    </div>
    <app-daily-work-list [user_type]="'employee'" [userid]="this.userCookie.userid" (editWork)="editWorkByDate($event)" (deleteWork)="openDeleteWorkModal($event)"></app-daily-work-list>
</section>

<app-alert-messages></app-alert-messages>