<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white py-0">
  <div class="container">
    <a class="navbar-brand" href="https://engineerphilosophy.com/"><img src="assets/eplogo.png" style="width: 50px; height: 50px;" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse w-100 order-3 dual-collapse 2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link px-3 py-4" routerLink="/dailywork">Daily-work</a>
        </li>
        
        <li class="nav-item active">
          <a class="nav-link px-3 py-4" routerLink="/leave">Leave-Application</a>
        </li>
       
        <li class="nav-item dropdown" style="float: right;">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLink="">
            <img src="assets/userlogo.png" style="width: 50px; height: 50px;">
          <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/logout">Logout</a></li>
          </ul>
        </li>


       
       
      </ul>
    </div>
  </div>
</nav>
