<app-header></app-header>
<section class="home-section">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label class="d-inline-block mr-10">Select Month:</label>
        <select [(ngModel)]="selectMonth" class="form-control d-inline-block" style="width:auto;min-width:200px;">
          <option selected value='1'>Janaury</option>
          <option value='2'>February</option>
          <option value='3'>March</option>
          <option value='4'>April</option>
          <option value='5'>May</option>
          <option value='6'>June</option>
          <option value='7'>July</option>
          <option value='8'>August</option>
          <option value='9'>September</option>
          <option value='10'>October</option>
          <option value='11'>November</option>
          <option value='12'>December</option>
        </select>
      </div>
    </div>
  </div>
    <br>
      <h2 style="text-align: center; color: white; background-color: #086d92;">Apply Leave Application</h2>
       <br><br>
      <div class="container main-container">
          <form #f="ngForm" (submit)="submitLeaveApplication(f.value)">
          <div class="form-group">
              <div class="row">
                  <div class="col-sm-6">
                       <label for="txtdatefrom">Date From:</label><span class="text-danger">*</span>
                       <input #txtdatefrom="ngModel" ngModel type="date" name="txtdatefrom" class="form-control" required min=dateFrom()>
                       <div class="text-danger" *ngIf="f.submitted && txtdatefrom.invalid">
                          <span *ngIf="txtdatefrom.errors.required">Date Required</span>
                      </div>
                    </div>
                      <div class="col-sm-6">
                       <label for="txtdateto">Date To:</label><span class="text-danger">*</span>
                           <input #txtdateto="ngModel" ngModel type="date" name="txtdateto" class="form-control" required min="toFrom()">
                           <div class="text-danger" *ngIf="f.submitted && txtdateto.invalid">
                              <span *ngIf="txtdateto.errors.required">Date Required</span>
                          </div>
                      </div>
               </div>
                <br>
               <div class="row">
                      <div class="col-sm-12">
                       <label for="txtdescription">Description</label><span class="text-danger">*</span>
                        <textarea #txtdescription="ngModel" ngModel type="text" name="txtdescription" class="form-control" required></textarea>
                        <div class="text-danger" *ngIf="f.submitted && txtdescription.invalid">
                          <span *ngIf="txtdescription.errors.required">* Required</span>
                      </div>
                  </div>
              </div>

                   <br>
                  <div class="form-group">
                   <button class="btn btn-primary" style="background-color:#086d92; margin-right: 5px;">Save</button>
                   <button type="button" name="button" class="btn-medium btn btn-secondary" (click)="cancelLeaveApplication(f)">CANCEL</button>
                  </div>
          </div>
      </form>
  </div>
</section>
