<app-header></app-header>
<section class="home-section">

  <div *ngIf="approveapplication">
    <div class="container-fluid main-container">
      <form [formGroup]="leaveForm" (ngSubmit)="submitLeaveApplication(leaveForm)">
        <h2 style="text-align: center; margin-top: 5px;" >Apply Leave Application</h2>
        <div class="form-group">
          <div class="row" style="margin-top: 10px;">
            <div class="col-sm-6">
               <label for="date_from">Date From:</label><span class="text-danger">*</span>
               <input type="date" name="date_from" formControlName="date_from" class="form-control" required min="{{minDate|date:'yyyy-MM-dd'}}" (change)="dateFromChanged()">
               <div class="text-danger" *ngIf="isSubmit && leaveForm.controls.date_from.errors?.required">
                 <span>Date from is Required</span>
               </div>
            </div>
            <div class="col-sm-6">
              <label for="date_to">Date To:</label><span class="text-danger">*</span>
              <input formControlName="date_to" type="date" name="date_to" class="form-control" required min="{{maxDate|date:'yyyy-MM-dd'}}">
              <div class="text-danger" *ngIf="isSubmit && leaveForm.controls.date_to.errors?.required">
                <span>Date from is Required</span>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12">
              <label for="txtdescription">Description</label><span class="text-danger">*</span>
              <textarea formControlName="description" type="text" name="description" class="form-control" required></textarea>
              <div class="text-danger" *ngIf="isSubmit && leaveForm.controls.description.errors?.required">
                <span>Description is Required</span>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-sm-12 text-center">
              <button class="btn btn-primary" style="background-color:#086d92; margin-right: 5px;">Save</button>
              <button type="button" name="button" class="btn-medium btn btn-secondary" (click)="cancelLeaveApplication(f)">CANCEL</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

   <div class="row" style="margin-top: 10px;">
      <div class="col-sm-4">
       <div class="form-group">
         <label class="d-inline-block mr-10">Select Month:</label>
         <select [(ngModel)]="selectMonth" class="form-control d-inline-block" style="width:auto;min-width:200px;">
           <option selected value='1'>Janaury</option>
           <option value='2'>February</option>
           <option value='3'>March</option>
           <option value='4'>April</option>
           <option value='5'>May</option>
          <option value='6'>June</option>
          <option value='7'>July</option>
          <option value='8'>August</option>
          <option value='9'>September</option>
          <option value='10'>October</option>
          <option value='11'>November</option>
          <option value='12'>December</option>
        </select>
      </div>
    </div>
    <div class="col-sm-8">
      <button class="pull-right btn btn-medium btn-danger" role="button" (click)="openDeleteLeaveModal()">DELETE</button>
      <button class="pull-right btn btn-primary mr-6" type="button" (click)="applyLeaveApplication()">Apply Application</button>
    </div>
  </div>

  <br/>
  <div style="height: 100%; box-sizing: border-box; width: 100%;">
    <ag-grid-angular
      #agGrid
      style="width: 100%; height: 500px;"
      id="myGrid"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [defaultColGroupDef]="defaultColGroupDef"
      [columnTypes]="columnTypes"
      [rowData]="leaveList"
      rowSelection='single'
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  </div>

  <div id="deleteLeaveModal" class="modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete Leave Application?</h4>
          <button type="button" class="close" data-dismiss="modal">X</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <p>Are you sure you want to delete these leave application?</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-medium" (click)="deleteLeaveApplication()">DELETE</button>
          <button type="button" class="btn btn-secondary btn-medium" data-dismiss="modal">CANCEL</button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-alert-messages></app-alert-messages>
